<div class="navbar">


  <div class="header">
  <%= link_to root_path do %>
    <%= image_tag "logo.png" %>
  <% end %>
    <%= link_to root_path do %>
      <h1 id="nav-title"><%= t('title') %></h1>
    <% end %>
  </div>
  <label for="toggle"><span id="burger"></span></label>
  <input type="checkbox" id="toggle" />
  <ul id="main-menu">
    <%= render 'components/mobile-language-bar' %>
    <li id="main-menu-box"></li>
    <li id="first-link"><%= active_link_to t('therapies'), therapies_path, active: :exclusive %></li>
    <li id="second-link"><%= active_link_to t('prices'), prices_path %></li>
    <li id="third-link"><%= active_link_to t('contact'), contact_path %></li>
    <li id="fourth-link"><%= active_link_to t('whoami'), whoami_path %></li>
    <li id="fifth-link"><%= active_link_to t('philosophy'), philosophy_path %></li>
    <li id="sixth-link"><%= active_link_to t('projects'), projects_path %></li>
  </ul>
</div>
