<div class="page-text" id="page-text-large">
<p><span style="font-weight: bold;">Daniela Zimmermann</span>
<br>
<%= t('address').split('_ ').first %><br>
<%= t('address').split('_ ').second %><br>
<%= t('address').split('_ ').third %><br>
<br>
<span style="font-weight: bold;">079 473 33 50</span>
<br>
<br>
<%= t('appointments') %>
</p>
<br>
</div>
<div class="nav-folders-wrapper" id="contact-wrapper">

</div>
<div class="nav-folders-image">
  <div class="image-container" id="map"
    style="width: 120%; height: 120%;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
</div>
