<div class="page-text">
<p><%= t('philosophycontent').split('_ ').first %></p>
<br>
<br>
<p><%= t('philosophycontent').split('_ ').second %></p>
<br>
<br>
<p><%= t('philosophycontent').split('_ ').third %></p>
<br>
<br>
<p><%= t('philosophycontent').split('_ ').fourth %></p>
<br>
<br>
<p><%= t('philosophycontent').split('_ ').fifth %></p>

</div>
<div class="nav-folders-wrapper" id="philosophy-wrapper">

</div>
<div class="nav-folders-image">
  <div>
    <%= image_tag 'flower.png', class: 'image-container', id: 'philosophy-container'%>
  </div>

</div>
