<div class="page-text">
<p><span style="font-weight: bold"><%= t('price-title') %></span>
<br>
<br>
<%= t('price-content').split('_ ').first %>
<br>
<br>
<%= t('price-content').split('_ ').second %></p>
<br>
<br>
<p><%= t('price-content').split('_ ').third %></span>
<br>
<br>
<%= t('price-content').split('_ ').fourth %></p>
<br>
</div>
<div class="nav-folders-wrapper" id="prices-wrapper">

</div>
<div class="nav-folders-image">
  <div>
    <%= image_tag 'pig.png', class: 'image-container', id: 'prices-container'%>
  </div>

</div>
