<div class="page-text">
<h2><%= t('presents') %></h2>
<br>
<br>
<h3><%= t('projectssubtitle') %></h3>
<br>
<br>
<p><%= t('projectsdescription') %></p>
<br>
<br>
<p style="font-style: italic;"><%= t('projectstext') %>
</p>
<br>
<br>
<a href="https://dice-game.ch/" target="_blank" id="link-button"><%= t('open') %></a>

</div>
<div class="nav-folders-wrapper" id="projects-wrapper">

</div>
<div class="nav-folders-image">
  <div>
    <%= image_tag 'dice.png', class: 'image-container', id: 'projects-container'%>
  </div>

</div>
