<div class="page-text">
  <h2><%= t('mytherapytitle') %>
  </h2>
  <br>
  <p><%= t('mytherapydescription').split('_ ').first %></p>
  <br>
  <p><%= t('mytherapydescription').split('_ ').second %></p>
  <br>
  <p><%= t('mytherapydescription').split('_ ').third %></p>
  <br>
  <br>
  <h2 style="text-align: left;"><%= t('more')%></h2>
  <br>
  <ul style="list-style: round filled; text-align: left;">
    <li><%= t('pregnant')%></li>
    <li><%= t('mld')%></li>
    <li><%= t('kinesio')%></li>
    <li><%= t('thai')%></li>
  </ul>
</div>
<div class="nav-folders-wrapper" id="therapies-wrapper">

</div>
<div class="nav-folders-image">
  <div>
    <%= image_tag 'praxisinnen.png', class: 'image-container', id: 'therapies-container'%>
  </div>

</div>
