<div class="page-text">
  <h2><%= t('myway') %></h2>
  <br>
  <ul style="list-style: circle; text-align: left; padding-left: 28px; border-radius: 4px;">
       <% t('curriculum').split('_ ').each do |line| %>
        <li><%= line %></li>
        <% end %>
  </ul>
  <br>
  <br>
  <h2><%= t('myteachers') %></h2>
  <br>
  <br>
  <h3>Claudia Haus</h3>
  <br>
  <p><%= t('ClaudiaText').split('_ ').first %>
    <br>
    <br>
    <%= t('ClaudiaText').split('_ ').second %>
    <br>
    <br>
    <%= t('ClaudiaText').split('_ ').third %></p>
  <br>
  <br>
  <h3>Jürg Schneeberger</h3>
  <br>
  <p><%= t('JuergText').split('_ ').first %>
    <br>
    <br>
    <%= t('JuergText').split('_ ').second %>
    <br>
    <br>
    <%= t('JuergText').split('_ ').third %></p>
  <br>
  <br>
  <h3>Jeana Naluai</h3>
  <br>
  <p><%= t('JeanaText').split('_ ').first %>
    <br>
    <br>
    <%= t('JeanaText').split('_ ').second %>
    <br>
    <br>
    <%= t('JeanaText').split('_ ').third %></p>
  <br>
  <br>
  <h2 style="text-align: left;"><%= t('Vision')%></h2>
  <br>
  <p style="text-align: left;"><%= t('VisionText')%></p>
  <br>

</div>
<div class="nav-folders-wrapper" id="whoami-wrapper">

</div>
<div class="nav-folders-image">
  <div>
    <%= image_tag 'daniela.png', class: 'image-container', id: 'whoami-container'%>
  </div>

</div>
